iqm-client[qiskit,cirq,cli]==35.0.0
iqm-data-definitions==2.24
iqm-exa-common==28.0.0
iqm-station-control-client==13.0.0
iqm-pulse==14.0.0
iqm-pulla[qiskit,qir]==14.0.0
iqm-qaoa==2.0.0
iqm-benchmarks==2.60.0
iqm-qubit-selector==1.1.0
iqm-error-reduction-tools==0.2.0
qrisp==0.9.5
